.functionPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction {
    margin-bottom: 30px !important;
}

.transaction td,
.transaction th {
    border: #e4e4e4 1px solid;
    margin: 0px;
    padding: 0px;
}


.transaction td {
    padding: .4375rem 1.0625rem;
}

.sortingNumber {
    width: 65px;
    text-align: center;
    background-color: #fbfbfb;
    border: 1px solid #e1e5eb;
    font-weight: 400;
    padding: .75rem 1.0625rem;
    height: 44px;
}


.moreMeals {
    text-decoration-line: underline;
    color: green;
    cursor: pointer;
}