.functionPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction {
    margin-bottom: 30px !important;
}

.transaction table {
    margin-top: 15px;
}

.transaction td,
.transaction th {
    border: #e4e4e4 1px solid;
    margin: 0px;
}

.orderMeal {
    margin-bottom: 5px;
}

.transaction td {
    padding: 0.7rem 1.0625rem !important;
}

.sortingNumber {
    width: 65px;
    text-align: center;
    background-color: #fbfbfb;
    border: 1px solid #e1e5eb;
    font-weight: 400;
    padding: .75rem 1.0625rem;
    height: 44px;
}

.orderMeal {}

.moreMeals {
    text-decoration-line: underline;
    color: green;
    cursor: pointer;
}

.modalWindow .changeBtn {
    width: 70px;
    margin-top: 15px;
}

.transactionDisplay {
    margin-left: 10px;
    margin: 5px 10px;
    font-size: 18px;
}

.transactionDisplay select {
    margin-left: 10px;
}