
.waiterWrapper {
    display: flex;
    padding: 20px;
    background: #ffffff;
    height: 730px;
}

.waiterWrapper .menu {
    width: 20%;
}

.waiterWrapper table {
    border-collapse: collapse; 
    line-height: 1.1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
}

.waiterWrapper td, .waiterWrapper th {
    border: #e4e4e4 1px solid;
    margin: 0px;
    padding: 25px 15px;
    text-align: center;
}

.waiterWrapper tr {
    border: black 1px solid;
    margin: 0px;
    padding: 3px;
}

.waiterWrapper .avatar {
    padding: 0;
    padding-top: 5px;
    text-align: center;
}
.waiterWrapper .avatar img {
    border-radius: 50%;
    background:url(https://image.freepik.com/free-icon/_318-10391.jpg);
    width: 60px;
    height: 60px;
}
