.cookItem {    
    background: #FFFFFF;
}

.wrapperCook {
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    margin: 10px 10px 40px 10px; */
    display: flex;
    flex-wrap:wrap;
    margin: 10px 10px 40px 30px; 
}

body {
    background: #E4E4E4;
    margin: 0px;
    padding: 0px;
}

.cookItem {
    width: 30%;
    margin: 10px;
    margin-right: 35px;
}
.cookItem header {
    display: flex;
    justify-content: space-between;
    background: #04932C;
    height: 40px;
    padding:10px 0;
    align-items: center;
    color: #FFFFFF;
    padding-left: 10px;
}
.cookItem ul {
     padding: 0px;
     margin: 10px 0;
 }
 
 .cookItem li {
    list-style-type: none;
    margin:  0;
    font-weight: 600;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.cookItem button {
    height: 40px;
    width: 150px;
    background: #B80505;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
}

.comments {
    padding: 10px 15px;  
}

.cookItem header .tableNumber {
    padding: 0 10px;
}


.ready {
   background: #F2F2F2;
} 

.btnImg {
    width: 30px;
    height: 30px;
}