.cookItem {    
    background: #FFFFFF;
}

.wrapperCook {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    margin: 10px 10px 40px 10px;
    
}

body {
    background: #E4E4E4;
    margin: 0px;
    padding: 0px;
}
.cookItem header {
    display: flex;
    justify-content: space-between;
    background: #FFE9A6;
    height: 30px;
    padding: 10px;
    align-items: center;
}
.cookItem ul {
     padding: 0px;
     margin: 10px 0;
 }
 
 .cookItem li {
    list-style-type: none;
    margin:  0;
    font-weight: 600;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.cookItem button {
    height: 30px;
    width: 150px;
    background: #E7B10E;
    border: none;
    font-size: 18px;
}

.comments {
    padding: 10px 15px;  
}

.cookItem header .tableNumber {
    padding: 0 10px;
}
.cookItem li {
    display: flex;
    justify-content: space-between;
}

.ready {
   background: #F2F2F2;
} 

.btnImg {
    width: 30px;
    height: 30px;
}