<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="cook.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="item">
            <header>
                <span class="tableNumber">#11</span>
                <span class="orderTime">19:51</span>
                <button class="statusOrder">Готово!</button>
            </header>
            <main>
                <div class="comments">
                    dsfgdfgdfgd
                </div>
                <ul>
                    <li>Стейк </li>
                    <li>Суп</li>
                </ul>
            </main>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>