.item {
    margin: 20px auto;
    width: 30%;
    background: #FFFFFF;
}


body {
    background: #DFDFDF;
}
header {
    display: flex;
    justify-content: space-between;
    background: #FFE9A6;
    height: 30px;
    padding: 10px;
    align-items: center;
}
 ul {
     padding-left: 10px;
 }
li {
    list-style-type: none;
    margin: 5px 0;
    font-weight: 600;
}
button {
    height: 30px;
    width: 150px;
    background: #E7B10E;
    border: none;
    font-size: 18px;

}