<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="login.css" rel="stylesheet">
</head>
<body>
    <div class="login">
        <h1>LOGIN</h1>
        <form class="loginForm">
        <input type="text" class="loginin" placeholder="Username"><br>
        <input type="password" class="loginin" placeholder="Password">
        <button>LOGIN </button>
        </form>

    </div>
</body>
</html>