.mealsContent {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 40px;
}

.selectDepartment .select {
  margin-right: 0;
}

.mealsContent table,
.wrapperCook table {
  border-collapse: collapse;
  background: #ffffff;
  margin-top: 20px;
  line-height: 1.1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);
  border-radius: .625rem;
}

.mealsContent td,
.wrapperCook td,
.mealsContent th,
.wrapperCook th {
  border: #e4e4e4 1px solid;
  margin: 0px;
  padding: 15px 15px;
  text-align: center;

}

.mealsContent th::after,
.wrapperCook th::after {
  width: 10px;
  height: 13px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiP…IiPjwvcG9seWdvbj4gICAgICAgICAgICA8L2c+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=);
  background-size: 90%;
}

.mealsContent tr,
.wrapperCook tr {
  border: black 1px solid;
  margin: 0px;
  padding: 3px;
}



/* switch */

.mealsContent .switch,
.wrapperCook .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.mealsContent .switch input,
.wrapperCook .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.mealsContent .slider,
.wrapperCook .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.mealsContent .slider:before,
.wrapperCook .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.mealsContent input:checked+.slider,
.wrapperCook input:checked+.slider {
  background-color: green;
}

.mealsContent input:checked+.slider:before,
.wrapperCook input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.mealsContent .slider.round,
.wrapperCook .slider.round {
  border-radius: 34px;
}

.mealsContent .slider.round:before,
.wrapperCook .slider.round:before {
  border-radius: 50%;
}

.mealsContent .active,
.wrapperCook .active {
  background-color: green;
}

.mealsContent .noactive,
.wrapperCook .noactive {
  background-color: red;
}

.mealsContent .functionPage,
.wrapperCook .functionPage {
  display: flex;
  justify-content: space-between;
}

.mealsContent .selectDepartment,
.wrapperCook .selectDepartment {
  margin: 0px;
}


.add {
  color: #ffffff !important;
  background: #04932C !important;
  padding: 5px 25px !important;
  font-family: Avenir Next;
  padding-top: 10px;
  border: 1px solid #e4e4e4;
  border-radius: .625em;
}