.topWaiterGraphics {
    width: 60%;
    height: 60%;
    margin: 120px auto 20px;
    border-radius: .625rem;
    background: #ffffff;
    padding: 5px 40px 50px 40px;
    box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);
}

.topWaiterGraphics canvas {
    width: 100% !important;
    height: 100% !important;
}

.xBtn {
    right: 0;
    margin-left: 100% !important;
    cursor: pointer;
}

.graphicsModal {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    background: green;
    color: white;
    border-radius: .625rem;
    box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);
}