.modalWrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: rgba(87, 87, 87, 0.8);
    z-index: 1100;
    left: 0%;
    top: 0;
    bottom: 0;
    right: 0;
}

.modalWindow {
    width: 450px;
    position: fixed;
    z-index: 4000;
    left: 35%;
    background: #fff;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    top: 35%;
    padding: 10px;
    opacity: 2;
    overflow: hidden !important;
}

.modalWindow img {
    width: 42px;
    height: 42px;
}

.yesBtn,
.noBtn {
    background: green;
    border: none;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 20px;
    margin-right: 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

.noBtn {
    background: red;
    margin-right: 20px;
}

.LogOut {
    width: 1600px !important;
    text-align: center;
}

.LogOut .modalWindow {
    margin-left: 500px;
}


.cookPage .LogOut .modalWindow {
    margin-left: 0;
}


.frozenMeal {
    display: flex;
    align-items: center;
    justify-content: center;
}


.frozenMeal .prev,
.frozenMeal .next,
.frozenMeal .countQuantity {
    height: 40px;
    width: 40px;

}


.frozenMeal .countQuantity {
    width: 40px;
    text-align: center;
    font-size: 20px;
}

.frozenMeal .prev {
    color: #fff;
    background: green;
    /* padding-bottom: 25px; */
    padding-bottom: 40px;
}

.frozenMeal .next {
    background: red;
    color: #fff;
}


.modalWindow .deleteBtn {
    margin: 30px 0 20px;
}


.xImage {
    cursor: pointer;
    margin-left: 620px;
    width: 35px !important;
    height: 35px !important;
    top: 40px;
}


.cookItem .modalWindow {
    width: 45%;
    left: 28%;
}