.modalWindow {
    width: 450px;
    height: 140px;
    position: fixed;
    z-index: 4;
    left: 40%;
    background: #fff;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    top: 40%;
}