.salesContent,
.orderContent {
    margin-top: 30px;
    padding-left: 10px;
}

input::-webkit-input-placeholder {
    color: #e4e4e4;
}

.salesContent .namePage,
.orderContent .namePage {
    margin-left: 20px;
}

.graphicArt {
    width: 910px !important;
    margin: 0px 0 30px 20px;
    background: #ffffff;
    box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);
    border-radius: .625rem;

}

.topMeals .sums {
    margin-left: 20px;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
}

.totalSelect {
    display: flex;
    border-radius: 0 0 .625rem .625rem;
    padding: 1rem 1rem;
    justify-content: space-between;
}

.selectRevenueBlock {
    display: flex;
    flex-direction: column;
    width: 910px;
    margin-bottom: 30px;
    box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);
    border-radius: .625rem;
    /* margin: 0px 0 30px 20px; */
    background: #ffffff;
    margin-left: 20px;

}

.selectRevenueBlock .graphicArt {
    margin: 0;
    box-shadow: none;
}



/* .incomeImg {
    position: absolute;
    z-index: 5;
    margin-left: 120px;
    margin-top: 20px;
    border-radius: none !important;
} */

/* .salesContent .text-center {
    align-items: flex-start;
    flex-direction: row;
    padding: 0 10px;
}

.percentBlock {
    display: flex;
} */

.text-center div {
    text-align: center;
}

.orderContent .select,
.statistics .select {
    /* border: none; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selectRevenueBlock-header {
    display: flex;
    padding: 1rem 1rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e1e5eb !important;
}

.block-handle {
    /* position: relative; */
    background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgIDxkZWZzPiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgwVjB6IiBpZD0iYSIvPiAgICA8L2RlZnM+ICAgIDxjbGlwUGF0aCBpZD0iYiI+ICAgICAgICA8dXNlIG92ZXJmbG93PSJ2aXNpYmxlIiB4bGluazpocmVmPSIjYSIvPiAgICA8L2NsaXBQYXRoPiAgICA8cGF0aCBjbGlwLXBhdGg9InVybCgjYikiIGQ9Ik0yMCA5SDR2MmgxNlY5ek00IDE1aDE2di0ySDR2MnoiLz48L3N2Zz4=");
    background-position: center center;
    background-size: 95%;
    margin-top: 12px;
    width: 1.125rem;
    height: .5rem;
    top: 50%;
    right: .9375rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .15;
}

.m-0 {
    margin: 0px !important;
}

.salesDateBlock {
    display: flex;
    padding: 0.5em 1.2em;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e1e5eb !important;
}

.selectRevenue span {
    cursor: pointer;
    padding: 0.2em 1em;
    border: 1px solid #e1e5eb;
    color: #3d5170;
}