
.wrapper {
    display: flex;
    background: #F4F5F7;
    width: 100%;
    height:  100%;

}

.wrapper .waiterContent {
    display: flex;
    flex-direction: column;  
    margin: 0px;
    margin-top: 40px;
    padding-left: 25px;
}

.wrapper .waiterContent table {
    background: #fff;
}

.waiterContent .form {
    display: flex;
}
.waiterContent th {
    padding: 20px 13px;
}


.waiterContent td, .waiterContent th {
    border: #e4e4e4 1px solid;
    margin: 0px;
   
    text-align: center;
}
.waiterContent td {
    padding: 0px 5px;
}
.waiterContent tr {
    border: black 1px solid;
    margin: 0px;
    padding: 3px;
}

.waiterContent .avatar {
    padding: 0;
    padding-top: 5px;
    text-align: center;
}
.waiterContent .avatar img {
    border-radius: 50%;
    background:url(https://image.freepik.com/free-icon/_318-10391.jpg);
    width: 60px;
    height: 60px;
}

.waiterContent table {
    width: 1250px;
    border-collapse: collapse; 
    line-height: 1.1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin:0px;
    margin-top: 40px;
}

.waiterContent .noActive {
    display: none !important;
}

.waiterContent .operation {
    display: flex;
    flex-direction: column;
}


.operationBlock {
    padding: 0px !important;
}
.waiterContent .operation button {
    border:none;
    background: none;
    border-top: #e4e4e4 1px solid;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 500;
}

.functionPage .select {
    margin-right: 20px;
}
.waiterContent .adduser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.waiterContent .adduser a {
    border: 1px solid #e4e4e4;
    border-radius: .625em;
    background: #fff;
}

.waiterContent .operation a {
    padding-top: 5px;
    padding-bottom: 5px;
}