
.waiterWrapper {
    display: flex;
    background: #F4F5F7;
    width: 100%;
    height:  100%;
   
    
}

.waiterWrapper .container {
    display: flex;
    flex-direction: column;
    
}


.waiterWrapper th {
    padding: 20px 13px;
}

.waiterWrapper .content {
    background: #ffffff;
    margin: 20px;
}
.waiterWrapper td, .waiterWrapper th {
    border: #e4e4e4 1px solid;
    margin: 0px;
   
    text-align: center;
}

.waiterWrapper tr {
    border: black 1px solid;
    margin: 0px;
    padding: 3px;
}

.waiterWrapper .avatar {
    padding: 0;
    padding-top: 5px;
    text-align: center;
}
.waiterWrapper .avatar img {
    border-radius: 50%;
    background:url(https://image.freepik.com/free-icon/_318-10391.jpg);
    width: 60px;
    height: 60px;
}

.waiterWrapper table {
    width: 1250px;
    border-collapse: collapse; 
    line-height: 1.1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin:0px;
}
